
@{
    Layout = null;
}

<!DOCTYPE html>

<style>
    .lala {
        box-sizing: border-box;
        margin-left: 200px;
        padding: 10px;
        border: 1px solid black;
        width: 300px;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="lala">
<form method="post" action="Home\Register2">
    <table>
        <tr>
            <b>&emsp;&emsp;THÔNG TIN SINH VIÊN</b>
        </tr>
        <tr>
            <td>Mã sinh viên: </td>
            <td><input type="text" id="maSV_id" name="maSV_name"/></td>
        </tr>
        <tr>
            <td>Họ và tên: </td>
            <td><input type="text" id="hoten_id" name="hoten_name"/></td>
        </tr>
        <tr>
            <td>Điểm: </td>
            <td><input type="text" id="diem_id" name="diem_name"/></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Đăng ký</button></td>
        </tr>
    </table>
</form>
</body>
</html>
